<%
  mainContent = '<p>Bubble, Airtable, and Zapier are great… until they aren\'t. When your tools start slowing you down, it\'s time to evolve.</p>';
  
  cardContent = `
    <p>» <strong>Keep what's working</strong>—ditch what's not.</p>
    <p>» <strong>Move your backend to real databases</strong> without losing functionality.</p>
    <p>» <strong>Replace Zapier automations</strong> with direct API connections.</p>
  `;
  
  cardActions = `
    <form id="download-form" class="formkit-form">
      <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
      <div class="formkit-fields" style="color:#808080;border-radius:0">
        <div class="formkit-field"><input class="formkit-input" name="email"
            style="font-size:18px;color:#808080;background-color:#ffffff;border-radius:0;font-weight:400;border-color:#dddddd"
            placeholder="Email Address" aria-label="Email Address" required="" type="email"></div><button
          class="formkit-submit" type="submit"
          style="color:#ffffff;background-color:#E35200;border-radius:0;font-size:14px;font-weight:700;letter-spacing:2px"
          data-element="submit">
          <div class="formkit-spinner">
            <div></div>
            <div></div>
            <div></div>
          </div><span>Get Your Free Transition Roadmap</span>
        </button>
      </div>
    </form>
  `;
%>

<%- include('_page-content') %>

<script src="form.js"></script>
<script>
  // if url path doesn't end in / redirect to /nocode/
  if (window.location.pathname !== '/nocode/') {
    window.location.href = '/nocode/';
  }
</script>