<html lang="en">

<head>
  <script>
    // if url path doesn't end in / redirect to /nocode/
    if (window.location.pathname !== '/nocode/') {
      window.location.href = '/nocode/';
    }
  </script>
  <title>Outgrowing No-Code?</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="description"
    content="Bubble, Airtable, and Zapier are great… until they aren’t. When your tools start slowing you down, it’s time to evolve. ">
  <meta property="og:title" content="Outgrowing No-Code?">
  <meta property="og:description"
    content="Bubble, Airtable, and Zapier are great… until they aren’t. When your tools start slowing you down, it’s time to evolve. ">
  <meta property="og:type" content="website">
  <meta name="twitter:title" content="Outgrowing No-Code?">
  <meta name="twitter:card" content="summary_large_image">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Lato:400,700&amp;display=swap">
  <style>
    :root {
      --headings-font-family: Playfair Display, serif;
      --body-font-family: Lato, sans-serif;
      --background-background-image: url('terrain.svg');
      --background-opacity: 0.23;
      --background-background-color: #000000;
      --card-background-color: #ffffff;
      --bg_top-background-color: #ffffff;
      --page-background-color: #1d1d1d;
      --name-color: #ffffff;
      --name-font-weight: 700;
      --name-letter-spacing: 1px;
      --header-color: #ffffff;
      --header-font-weight: 700;
      --content_text-color: #bfbfbf;
      --form_header-color: #281841;
      --form_header-font-weight: 700;
      --form_content_text-color: #281841;
      --field-font-size: 18px;
      --field-color: #808080;
      --field-background-color: #ffffff;
      --field-border-radius: 0px;
      --field-font-weight: 400;
      --field-border-color: #dddddd;
      --button-color: #ffffff;
      --button-background-color: #E35200;
      --button-border-radius: 0px;
      --button-font-size: 14px;
      --button-font-weight: 700;
      --button-letter-spacing: 2px;
      --disclaimer-color: #666666;
      --disclaimer-font-size: 14px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="style.css">
  <style>
    body {
      margin: 0;
      padding: 0
    }

    body>.form {
      margin: 80px auto;
    }
  </style>
  <script src="form.js"></script>
</head>

<body data-template="Franklin">

  <div id="container">
    <div class="page" style="background-color:#1d1d1d">
      <div style="background-color:#ffffff" class="bg-top"></div>
      <div class="container" style="background-color:#000000">
        <div class="background-image"
          style="background-image:url('terrain.svg');opacity:0.23;background-color:#000000;background-size:auto auto;background-repeat:repeat">
        </div>
        <div class="main-content">
          <div class="serif-font brand-name" style="color:#ffffff;font-weight:700;letter-spacing:1px">
            <p>no-code Transition Roadmap</p>
          </div>
          <div>
            <div class="serif-font primary-heading" style="color:#ffffff;font-weight:700">
              <h1>Outgrowing No-Code?</h1>
            </div>
            <div class="content">
              <div class="text " style="color:#bfbfbf" type="Text" id="1455863777"
                content="&lt;p&gt;Bubble, Airtable, and Zapier are great… until they aren’t. When your tools start slowing you down, it’s time to evolve.&lt;/p&gt;"
                element_id="9a293cd2-8a89-46f2-b940-8b82714b6bb5" order="0" region="content">
                <p>Bubble, Airtable, and Zapier are great… until they aren’t. When your tools start slowing you down,
                  it’s time to evolve.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="background-color:#ffffff">
          <div class="serif-font card-heading" style="color:#281841;font-weight:700">
            <h1>Transition Without a Painful Rebuild</h1>
          </div>
          <div class="card-content">
            <div class="text " style="color:#281841" type="Text" id="1455863779"
              content="&lt;p&gt;» &lt;strong&gt;Keep what’s working&lt;/strong&gt;—ditch what’s not.&lt;/p&gt;&lt;p&gt;» &lt;strong&gt;Move your backend to real databases&lt;/strong&gt; without losing functionality.&lt;/p&gt;&lt;p&gt;» &lt;strong&gt;Replace Zapier automations&lt;/strong&gt; with direct API connections.&lt;/p&gt;"
              element_id="99060fba-ff75-4088-9c8c-bf573b1c08d4" order="0" region="form_content">
              <p>» <strong>Keep what’s working</strong>—ditch what’s not.</p>
              <p>» <strong>Move your backend to real databases</strong> without losing functionality.</p>
              <p>» <strong>Replace Zapier automations</strong> with direct API connections.</p>
            </div>
          </div>
          <form id="download-form" class="form">
            <ul class="alert alert-error" data-element="errors" data-group="alert"></ul>
            <div class="form-fields" style="color:#808080;border-radius:0">
              <div class="form-field"><input class="input" name="email"
                  style="font-size:18px;color:#808080;background-color:#ffffff;border-radius:0;font-weight:400;border-color:#dddddd"
                  placeholder="Email Address" aria-label="Email Address" required="" type="email"></div><button
                class="submit-btn" type="submit"
                style="color:#ffffff;background-color:#E35200;border-radius:0;font-size:14px;font-weight:700;letter-spacing:2px"
                data-element="submit">
                <div class="spinner">
                  <div></div>
                  <div></div>
                  <div></div>
                </div><span>Get Your Free Transition Roadmap</span>
              </button>
            </div>
          </form>
          <div class="disclaimer" style="color:#666666;font-size:14px">We respect your privacy. Unsubscribe at
            any time.</div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>