<footer>
  <div class="copyright">&copy; Superstruct International, Inc. All rights reserved.
    <br>
    <div style="display: flex; gap: 10px;">
      <a href="/terms">Terms of Service</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>


</footer>