<section id="first">
  <header>
    <h2><%= header %></h2>
  </header>
  <div class="content">
    <p><strong>If you are sponsoring a tech event because you want to hire, you need a recruiting funnel.</strong> You are not going to hire anyone directly at the event (or at least I hope not). Therefore, your goal is to collect contact info so that you, your hiring managers, or your recruiters can follow up later. This is the top of the funnel. You can filter candidates with phone calls, interviews, and the ultimate hiring decision later.</p>

    <p>When sponsoring an event, your success is measured by how many qualified engineers signal interest by giving you their contact information. Like any funnel, there are things that you can do that will either help or hurt your ability to get people through to the other side.</p>

    <p>These 11 best-practices come from running over 150 technology events.</p>
  </div>
</section>

<%- partial("_partials/speakers", {header: event}) %>
