include ./_mixins/section.jade
include ./_mixins/book-call.jade

section.intro
  header
    h1 Advisory Retainer

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

+section("Your engineering team isn’t shipping as fast as they should be able to, and you can’t figure out why.")#first
  p You need features out the door, you have the people, but it’s not coming together. Your CTO doesn’t want to handle the people problems, and nobody else is technical enough to straighten things out. Or you have a self-appointed tech lead who thinks he knows more than he does, and he switches to a new framework every week instead of moving the product forward. Engineers are expensive and every week that they’re not productive is another week of revenue and/or runway down the drain. Worse, you risk losing valuable competitive advantage by prolonging your time to market. Our consulting engagement will give you access to the strategic and tactical engineering leadership you need, when you need it.

+section("How does it work?")
  p Our agreement entitles you to unlimited 24/7 access to me via phone, email, and Slack. I return all messages no later than the next business day, although in practice response time is much quicker (particularly between 9am to 5pm PT, but also nights and weekends).

  p Meetings are scheduled in advance, typically take place over the phone, and are sometimes supplemented with online meeting and/or screen sharing software (e.g. Zoom).
  
  p Possible areas of involvement:

  ol
    li Participation in an initial in-depth, in-person meeting to define long-term business goals, existing software architecture, and organizational challenges.
    li Assess current staffing situation, identify gaps, and advise on appropriate remediation tactics (e.g., upskilling, hiring, firing)
    li Regular meetings to discuss engineering leadership, culture, hiring, and process.
    li Defining a process with your HR team for finding, recruiting, vetting, hiring, and onboarding engineers.
    li Creating an internal messaging strategy that fosters a cohesive engineering culture. 
    li Working with product owners to define policies and processes for requirements gathering, feature prioritization, approvals, milestones, QA, releases, etc to provide visibility and control. 
    li Strategic and tactical advice based on a series of ongoing meetings with team leaders. These are individualized and mutually agreed upon. In addition, I'll serve as a sounding board as they work to achieve their business and technical goals.
    li Situational responsiveness to needs that arise that you deem require my assistance, which are not covered elsewhere.
    
  p My fee is $25,000 USD per month, all inclusive (i.e., I arrange and pay for any necessary travel, administrative expenses, etc). Professional courtesy discounts are available for quarterly and annual arrangements. Participation is extremely limited. You can elect to be added to the waiting list if spots are not available.

  p Please book a time to discuss whether an advisory retainer would be a good fit.

  +bookCall

  p If we've already spoken, you may reserve your engagement.

  p
    a.button.primary( href='https://app.moonclerk.com/pay/28mimfdbp1le' target='_blank') Reserve Engagement Now
  
  p I look forward to speaking with you.

  p
    | Yours, 
    br
    | -DG

+section("About Superstruct")
  p David Guttman started Superstruct to build a repeatable system for finding, recruiting, vetting, onboarding, and managing talented software engineers. This system integrates over 10 years of software engineering management experience with deep technical knowledge to help companies clear milestones faster, cheaper, and with less risk.
  p Over the course of his 20+ years in software development, David has led engineering teams to ship massive and innovative projects, including the content platform that powers Disney.com and StarWars.com (along with over 170 other sites, across dozens of languages and regions); video ad servers that handle over 10 billion requests per day; and an LMS that TIME magazine listed as one of the Best Inventions of the Year 2020.
  p David is a leader in the tech community and ran one of the largest JavaScript events in the country: js.la. This event hosted world-famous speakers such as Ryan Dahl and Kyle Matthews and rising stars from the LA tech community, and regularly has standing-room only for its hundreds of attendees -- filling up large venues such as Google's main stage in Venice. Additionally, he ran the official Node.js Mentorship Team and the Los Angeles chapter of NodeSchool.
  p He is the author of two popular JavaScript books: Fullstack React and Fullstack Node.js and many widely-used open-source projects. He has over 90 open-source packages on npm and over 130 repositories on Github. David has given talks at many tech events and conferences like JSConf and JSFest.
