include ./_mixins/section.jade
include ./_mixins/book-call.jade
include ./_mixins/email-capture.jade

section.intro
  header
    h1 Recruiting Best Practices Checklist 
    h2 Maximize Hires When Sponsoring Tech Events

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

  .content
    span.image.fill(data-position="center")
      img(src="images/meetup.jpg")

+section("Download Now")
  +emailCapture('techEventRecruiting', '', 'Download Now')
    p (Don't worry, we hate spam too. We'll never share your address with anyone.)

+section("Not getting enough hires from your tech event sponsorships?")#first
  p Do you sponsor tech events in hopes of attracting dev talent? Are you not getting enough qualified applicants? Are you unsure what to do about it?

+section("Imagine knowing exactly how to increase hires from your tech event sponsorships")
  p Imagine knowing that your tech sponsorship dollars were being spent usefully. Imagine getting twice as many applicants at your next event. Imagine knowing exactly what to do pre-, during-, and post-event. 

+section("Our tech event recruiting best practices checklist will show you exactly what to do to maximize your sponsorship dollars")
  p Our 11-point checklist will show you exactly what to do to maximize your sponsorship investment and get more hires. It covers visual design, form design, call-to-action choices, tone, etc.  

+section("Download Now")
  +emailCapture('techEventRecruiting', '', 'Download Now')
    p (Don't worry, we hate spam too. We'll never share your address with anyone.)

+section("What People Are Saying")
  blockquote
    “David’s help was a game changer for me. I spent months floundering to find a developer for my team. (I had, I realize now, a sub-par, ad-hoc hiring “strategy”.) But after I started working with David, I had hired a developer within the first week - and even better, I had a tested, reusable strategy for hiring quality engineers. Thanks, David!” 
    br
    — Nate Murray, Founder Newline.co


+section("About Superstruct")
  p David started Superstruct to build a repeatable system for finding, recruiting, vetting, onboarding, and managing talented software engineers. This system integrates over 10 years of software engineering management experience with deep technical knowledge to help companies clear milestones faster, cheaper, and with less risk.

  p David has led teams of engineers to ship projects like ultra-high-scale ad servers handling over 10 billion requests per day, online learning systems, white-label performance marketing SAAS platforms, and Project Matterhorn, the system that would eventually become Disney.com.

  p He is the author of two popular JavaScript books: Fullstack React and Fullstack Node.js and many widely-used open-source projects. He has over 90 open-source packages on npm and over 130 repositories on Github. David has given talks at many tech events and conferences like JSConf and JSFest.

  p David is a leader in the tech community and runs one of the largest JavaScript events in the country: js.la. This event draws world-famous speakers such as Ryan Dahl and Kyle Matthews and rising stars from the LA tech community, and regularly has standing-room only for its hundreds of attendees -- filling up large venues such as Google's main stage in Venice. Additionally, he runs the official Node.js Mentorship Team and the Los Angeles chapter of NodeSchool.

+section("Stop Wasting Sponsorship Dollars")
  p Stop wasting sponsorship dollars and get those hires you desperately need. Download our 11 point checklist now, and start getting applicants. 

  +emailCapture('techEventRecruiting', '', 'Download Now')
    p (Don't worry, we hate spam too. We'll never share your address with anyone.)
