include ./_mixins/section.jade
include ./_mixins/book-call.jade

section.intro
  header
    h1 Get Out Of The Slow Lane
    h2 With A New In-House Engineering Team

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

  .content
    span.image.fill(data-position="center")
      img(src="images/jacek-dylag-mmar_Xs8_mk-unsplash.jpg")

+section("Your dev shop is holding you back.")#first
  p Sometimes, you're not even sure what the dev team is doing. The smallest fixes take days, and every new feature introduces two new bugs. You can't even remember the last time the PM was able to answer a simple question without having to "get back to you on that." Worse, if you switch to another agency, you're pretty sure that they would want to start from scratch (and put you right back where you are now). It's time to build your own in-house engineering team, but you're unsure how to find, vet, and manage quality dev talent. We have three options to make sure you do it correctly.

+section("Option 1: Comprehensive Engineering Framework")
  p We will provide our proven engineering framework that you’ll use to grow and run a team that will be able to accomplish your goals in the near term and for the future. This will contain messaging for job posts, custom coding challenges and evaluation criteria, common responses for candidates, onboarding guides for new engineers and managers, software development workflow, and management framework for the specific types of engineers to be hired. Using this you will have everything you need to attract, vet, onboard, and manage a high-quality engineering team.

  p To be clear, in this option we will not be doing any of the recruiting, onboarding, or managing of the engineers. However, a specialist will be available via Slack to answer questions if there are sticking points.

  p Benefits of option 1:

  ul
    li #[strong Strong Foundation]: The peace of mind that comes from knowing that you are using a proven system for finding and onboarding engineers that can demonstrably knock out the milestones on your product roadmap.
    li #[strong Complete Autonomy]: Your managers will be running the show from day one. Your team will directly control how you scale your engineering department and can move at their own pace. 

+section("Option 2: Recruiting & Vetting")
  p When recruiting successfully, there are often way more candidates applying than we can possibly accept. It’s important to maintain a positive image, and we make sure to respond to all applicants and provide them with constructive feedback. We also take care to answer all questions about the role from all candidates.
  
  p With this option you’ll focus on managing and building your new engineers instead of spending time answering questions, interviewing, or vetting applicants.
  
  p To build out product features, handle future feature requests and maintenance, ensure discipline-specific code reviews, and provide a buffer against losing institutional knowledge, we typically target a team size of at least two front-end and two back-end engineers.

  p The engagement will continue until we have provided three of each role that have exceeded our expectations. You’ll be able to trim down to the four engineers your team best works with. Expect to have your first engineer start three weeks after the engagement begins and a new engineer every week or two afterwards.
  
  p Benefits of option 2:

  ul
    li #[strong High Bar for Talent]: We’ll administer custom coding challenges and evaluate candidate results to make sure that all passing engineers can meet or exceed the skill requirements of the product roadmap.
    li #[strong Focus on Building]: You’ll be able to concentrate on building your product and not wrangling job posts, applications, and challenge submissions.

+section("Option 3: Full Engineering Management")
  p We will provide everything in options 1 and 2, and additionally, we will onboard and manage all engineers. In this option we directly ensure that all recruited engineers quickly get up to speed and regularly ship production code.
  
  p We will onboard each engineer and make sure that they follow all coding guidelines, work within our workflow process, and are proactive in collaborating with product leadership. We will hold weekly 1-1s with each engineer, make sure that they are communicating steady progress in daily standups, and we’ll run the weekly engineering all-hands.
  
  p Once things are running at full-speed we will transition management to your team and make sure that the engineering department will continue to regularly ship product deliverables. We can expect to have fully transitioned to your team within four months.

  p With this option the engagement will end once the engineering team is fully productive and we are confident that your team will be able to continue management on their own.
  
  p Benefits of option 3:

  ul
    li #[strong Full-Service]: This option handles the complete operation of your engineering department. We ensure that everything is set up and running smoothly before handing things over to you.
    li #[strong Hands-On Training]: We work directly with your team to make sure you can hire, vet, onboard, and manage engineers now and into the future.

+section("Stop Getting Slow Rolled")
  p Book a 15-minute call to see if building your own in-house engineering team is a good fit for your company. 
  
  +bookCall

+section("About Superstruct")
  p Superstruct has developed a repeatable system for finding, recruiting, vetting, onboarding, and managing talented software engineers. This system integrates over 10 years of software engineering management experience with deep technical knowledge to help companies clear milestones faster, cheaper, and with less risk.

  p David has led teams of engineers to ship projects like ultra-high-scale ad servers handling over 10 billion requests per day, online learning systems, white-label performance marketing SAAS platforms, and Project Matterhorn, the system that would eventually become Disney.com.

  p This management experience rests on both a deep technical foundation and long experience training developers at all levels.  David is the author of two popular JavaScript books---Fullstack React and Fullstack Node.js---and many widely-used open-source projects. He has over 90 open-source packages on npm and over 130 repositories on Github. He has likewise given talks at many tech events and conferences like JSConf and JSFest. 

  p David is a leader in the tech community and runs one of the largest JavaScript events in the country: js.la. This event draws world-famous speakers such as Ryan Dahl and Kyle Matthews and rising stars from the LA tech community, and regularly has standing-room only for its hundreds of attendees -- filling up large venues such as Google's main stage in Venice. Additionally, he runs the official Node.js Mentorship Team and the Los Angeles chapter of NodeSchool.

+section("What people say about us:")

  blockquote
    p "At the board meeting I went over the progress on the engineering side. We closed hundreds of bugs and tickets — literally hundreds. They were blown away."
    p - Aaron Rasmussen, Founder and CEO of Outlier

  blockquote
    p “David’s help was a game changer for me. I spent months floundering to find a developer for my team. (I had, I realize now, a sub-par, ad-hoc hiring “strategy”.) But after I started working with David, I had hired a developer within the first week - and even better, I had a tested, reusable strategy for hiring quality engineers. Thanks, David!”
    p — Nate Murray, Founder Newline.co

+section("Stop Getting Slow Rolled")
  p Book a 15-minute call to see if building your own in-house engineering team is a good fit for your company. 
  
  +bookCall
