include ./_mixins/section.jade
include ./_mixins/book-call.jade

section.intro
  header
    h1 From Daunting To Done
    h2 Use A Superstruct Hit Squad To Clear Your Product Backlog

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

  .content
    span.image.fill(data-position="center")
      img(src="images/jacek-dylag-mmar_Xs8_mk-unsplash.jpg")

+section("A no-fuss engineering team to knock out milestones")#first(style='text-align: center')
  p Prices start at $20k/mo for two engineers.
  p
    a.button.primary( href='https://app.moonclerk.com/pay/10pnoxd9sap5' target='_blank') Subscribe Now
  p Your Hit Squad gets you:
  
  ul(style='text-align: left')
    li Capable engineers suited to your produt road map
    li Dedicated Engineering Manager
  
  p No long-term commitment. Cancel anytime.

+section("Leave it to us.")
  p Your backlog is growing by the day, and at this rate you're on track to have an NVP (Not Viable Product). Hiring engineers is a time-consuming pain, and that's even if you're doing it correctly. 

+section("About Superstruct")
  p Superstruct has developed a repeatable system for finding, recruiting, vetting, onboarding, and managing talented software engineers. This system integrates over 10 years of software engineering management experience with deep technical knowledge to help companies clear milestones faster, cheaper, and with less risk.

  p David has led teams of engineers to ship projects like ultra-high-scale ad servers handling over 10 billion requests per day, online learning systems, white-label performance marketing SAAS platforms, and Project Matterhorn, the system that would eventually become Disney.com.

  p This management experience rests on both a deep technical foundation and long experience training developers at all levels.  David is the author of two popular JavaScript books---Fullstack React and Fullstack Node.js---and many widely-used open-source projects. He has over 90 open-source packages on npm and over 130 repositories on Github. He has likewise given talks at many tech events and conferences like JSConf and JSFest. 

  p David is a leader in the tech community and runs one of the largest JavaScript events in the country: js.la. This event draws world-famous speakers such as Ryan Dahl and Kyle Matthews and rising stars from the LA tech community, and regularly has standing-room only for its hundreds of attendees -- filling up large venues such as Google's main stage in Venice. Additionally, he runs the official Node.js Mentorship Team and the Los Angeles chapter of NodeSchool.

+section("What people say about us")

  blockquote
    p "Superstruct is the best. Everyone is impressed. Internal software development doesn’t seem like a good move when you can just hire Superstruct.”
    p - Rob Maigret, Co-founder of Titan Space Technologies

  blockquote
    p "At the board meeting I went over the progress on the engineering side. We closed hundreds of bugs and tickets — literally hundreds. They were blown away."
    p - Aaron Rasmussen, Founder and CEO of Outlier

  blockquote
    p “David’s help was a game changer for me. I spent months floundering to find a developer for my team. (I had, I realize now, a sub-par, ad-hoc hiring “strategy”.) But after I started working with David, I had hired a developer within the first week - and even better, I had a tested, reusable strategy for hiring quality engineers. Thanks, David!”
    p — Nate Murray, Founder of Newline.co

+section("Get Started")(style='text-align: center')
  p Prices start at $20k/mo for two engineers.
  p
    a.button.primary( href='https://app.moonclerk.com/pay/10pnoxd9sap5' target='_blank') Subscribe Now

  p No long-term commitment. Cancel anytime.

  p Have questions before you're ready to subscribe? Shoot me an email: 
    a(href='mailto:david@superstruct.tech') david@superstruct.tech
