include ./_mixins/section.jade
include ./_mixins/book-call.jade

section.intro
  header
    h1 From Daunting To Done
    h2 Use A Superstruct Hit Squad To Eliminate Your Product Backlog

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

  .content
    span.image.fill(data-position="center")
      img(src="images/foxbarrington_Team_of_strong_capable_explorers_viewed_from_over_b09ee476-41e7-4aaa-b7ea-68ba6c7fa8ef.png")

+section("A No-Fuss Engineering Team To Knock Out Milestones")#first
  p Your backlog is growing by the day, and at this rate you're on track to have an NVP (Not Viable Product). Hiring engineers is a time-consuming pain, and that's even if you're doing it correctly.

  p You need a team of engineers who can hit the ground running, and you need them yesterday. You need a Superstruct Hit Squad.

  p Superstruct will assign you a dedicated engineering manager and engineers who will make your product a reality. You don't need to worry about hiring, onboarding, or managing. You just tell us what you want built and we'll build it.

+section("Leave It To Us")
  p Your Hit Squad gets you:
  
  ul(style='text-align: left')
    li Software Engineers Suited To Your Product Road Map
    li Dedicated Engineering Manager
    li Guaranteed Continuous Feature Delivery
  
  p Prices start at $20k/mo for two engineers.
  p
    a.button.primary( href='https://app.moonclerk.com/pay/10pnoxd9sap5' target='_blank') Get Started

  p No long-term commitment. Cancel anytime.

  p Have questions before you're ready to subscribe? Shoot me an email: 
    a(href='mailto:david@superstruct.tech') david@superstruct.tech

+section("What People Say About Us")

  blockquote
    p "Superstruct is the best. Everyone is impressed. Internal software development doesn't seem like a good move when you can just hire Superstruct.”
    p - Rob Maigret, Co-founder of Titan Space Technologies

  blockquote
    p "At the board meeting I went over the progress on the engineering side. We closed hundreds of bugs and tickets — literally hundreds. They were blown away."
    p - Aaron Rasmussen, Founder and CEO of Outlier

  blockquote
    p “David's help was a game changer for me. I spent months floundering to find a developer for my team. (I had, I realize now, a sub-par, ad-hoc hiring “strategy”.) But after I started working with David, I had hired a developer within the first week - and even better, I had a tested, reusable strategy for hiring quality engineers. Thanks, David!”
    p — Nate Murray, Founder of Newline.co

+section("Are We A Good Fit?")

  .cols(style='display: flex;   justify-content: space-around;')
    .col
      h4 We are an excellent fit for:
      ul
        li SaaS Platforms
        li Ad Servers
        li Marketplaces
        li E-Commerce
        li Performance Marketing Platforms
        li Dashboards
        li CMS
        li Analytics
    
    .col
      h4 We are not a good fit for:
      ul(style='text-decoration: line-through')
        li Video Games
        li Augmented Reality
        li Virtual Reality
        li Windows Desktop Apps
        li Native Mobile Apps

+section("Frequently Asked Questions")

  .qa
    h4 How is work assigned and prioritized?
    p We work with you to first break the overall project down into a hierarchy of tasks ranked roughly into three buckets: Mission Critical, Must Haves, Nice To Have.
    p We start with a kickoff meeting to discuss the details of the project, the time constraints, any critical milestones or deadlines, and then work together to organize and prioritize the tasks. 
  
  .qa
    h4 Will you use our JIRA/ticketing system?
    p No. We will track your requests in our own systems. You’re of course welcome to mirror that in your system but it isn’t something our developers will see or have access to. 
  
  .qa
    h4 Where are the devs located?
    p All over the world. 
  
  .qa
    h4 What timezone do they work?
    p They work US business hours. 
  
  .qa 
    h4 How do we talk to/work with the devs?
    p You don't need to! You just tell your engineering manager in Slack and they will handle all communication with your assigned dev team. As the dev team has questions about any particular feature, the engineering manager will collect them and review periodically with your product manager so they're not being interrupted constantly. As tasks are completed, you will see new features deployed to live to whatever server you want. 
  
  .qa
    h4 How long is an engagement?
    p This is an ongoing month to month service arrangement. You can upgrade, downgrade, or cancel at any time. 
  
  .qa 
    h4 Do you have to add your developers to our Github and manage access?
    p No, not the devs, but our EM will need to be added. 
  
  .qa
    h4 How are progress updates handled?
    p Your engineering manager will let you know in Slack when features are live and can be reviewed. 
  
  .qa
    h4 Do we invite the devs into our Slack?
    p We'll use Slack Connect to set up a shared channel between you and the EM. The devs don't need to be there. 

  .qa
    h4 What do you need from us?
    p We need...
    p 1. completed designs. That could look like wireframes, PRDs, UI mockups, prototypes, etc. As long as you know what you want built, we will build it. 
    p 2. you to accept a Slack Connect invite to link our workspaces together so we can join shared channels. 
    p 3. the Engineering Manager added to your Github so we can push code changes. 
    p 4. access to your cloud platform (e.g. Firebase, Render.com, GCP, etc...) so we can set up CI/CD.

+section("About Superstruct")
  p Superstruct has developed a repeatable system for finding, recruiting, vetting, onboarding, and managing talented software engineers. This system integrates over 10 years of software engineering management experience with deep technical knowledge to help companies clear milestones faster, cheaper, and with less risk.

  p David has led teams of engineers to ship projects like ultra-high-scale ad servers handling over 10 billion requests per day, online learning systems, white-label performance marketing SAAS platforms, and Project Matterhorn, the system that would eventually become Disney.com.

  p This management experience rests on both a deep technical foundation and long experience training developers at all levels.  David is the author of two popular JavaScript books---Fullstack React and Fullstack Node.js---and many widely-used open-source projects. He has over 90 open-source packages on npm and over 130 repositories on Github. He has likewise given talks at many tech events and conferences like JSConf and JSFest. 

  p David is a leader in the tech community and runs one of the largest JavaScript events in the country: js.la. This event draws world-famous speakers such as Ryan Dahl and Kyle Matthews and rising stars from the LA tech community, and regularly has standing-room only for its hundreds of attendees -- filling up large venues such as Google's main stage in Venice. Additionally, he runs the official Node.js Mentorship Team and the Los Angeles chapter of NodeSchool.

+section("Get Started")(style='text-align: center')
  p Prices start at $20k/mo for two engineers.
  p
    a.button.primary( href='https://app.moonclerk.com/pay/10pnoxd9sap5' target='_blank') Get Started

  p No long-term commitment. Cancel anytime.

  p Have questions before you're ready to subscribe? Shoot me an email: 
    a(href='mailto:david@superstruct.tech') david@superstruct.tech
