include ./_mixins/section.jade
include ./_mixins/book-call.jade

section.intro
  header
    h1 Superstruct
    h2 We build in-house engineering teams for tech startups

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

  .content
    span.image.fill(data-position="center")
      img(src="images/shane-rounce-229914-unsplash.jpg")

+section("What We Do")#first
  p Superstruct is an LA-based consultancy specializing in building in-house engineering teams for tech startups.

+section("How We Do It")
  p We have created repeatable systems for finding, recruiting, vetting, onboarding, and managing talented software engineers. Our approach integrates over 10 years of software engineering management experience with deep technical knowledge to help companies clear milestones faster, cheaper, and with less risk. 

+section("Who We Work With")
  p Superstruct specializes in working with founders of tech startups who want to crank through the backlog with less drama.

+section("How We Can Work Together")
  ul
    li #[a(href='/team-machine') Superstruct Team Machine]
    li #[a(href='/dfy-event-recruiting') Developer Event Sponsorship Recruiting Funnel]
    li #[a(href='/advisory') Advisory Retainer]

+section("What People Are Saying")
  blockquote
    p "Superstruct is the best. Everyone is impressed. Internal software development doesn’t seem like a good move when you can just hire Superstruct.”
    p - Rob Maigret, Co-founder of Titan Space Technologies

  blockquote
    p "At the board meeting I went over the progress on the engineering side. We closed hundreds of bugs and tickets — literally hundreds. They were blown away."
    p - Aaron Rasmussen, Founder and CEO of Outlier

  blockquote
    p “David’s help was a game changer for me. I spent months floundering to find a developer for my team. (I had, I realize now, a sub-par, ad-hoc hiring “strategy”.) But after I started working with David, I had hired a developer within the first week - and even better, I had a tested, reusable strategy for hiring quality engineers. Thanks, David!”
    p — Nate Murray, Founder of Newline.co

+section("About Superstruct")
  p David started Superstruct to build a repeatable system for finding, recruiting, vetting, onboarding, and managing talented software engineers. This system integrates over 10 years of software engineering management experience with deep technical knowledge to help companies clear milestones faster, cheaper, and with less risk.

  p David has led teams of engineers to ship projects like ultra-high-scale ad servers handling over 10 billion requests per day, online learning systems, white-label performance marketing SAAS platforms, and Project Matterhorn, the system that would eventually become Disney.com.

  p David is a leader in the tech community and runs one of the largest JavaScript events in the country: js.la. This event draws world-famous speakers such as Ryan Dahl and Kyle Matthews and rising stars from the LA tech community, and regularly has standing-room only for its hundreds of attendees -- filling up large venues such as Google's main stage in Venice. Additionally, he runs the official Node.js Mentorship Team and the Los Angeles chapter of NodeSchool.

  p He is the author of two popular JavaScript books: Fullstack React and Fullstack Node.js and many widely-used open-source projects. He has over 90 open-source packages on npm and over 130 repositories on Github. David has given talks at many tech events and conferences like JSConf and JSFest.
