include ./_mixins/section.jade

section.intro
  header
    h1 Privacy Policy

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

+section("Privacy Policy")#first
  p Your privacy is important to us. This privacy policy outlines the types of information we collect and how we use it.

+section("Information We Collect")
  p We collect information to provide better services to all our users. This includes the URLs you submit to our service, the time of submission, and your IP address.

+section("How We Use Information We Collect")
  p We use the information we collect to provide, maintain, protect and improve our service, to develop new ones, and to protect ourselves and our users. We also use this information to offer you tailored content, such as giving you more relevant search results and ads.

+section("Information We Share")
  p We do not share personal information with companies, organizations and individuals outside of our service unless one of the following circumstances applies:
  ul
    li With your consent
    li For legal reasons

+section("Information Security")
  p We work hard to protect our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold.

+section("Google User Data")
  p Our platform uses Google Sign-In solely to verify that you control the email address you provide to us. We do not collect, use, or share any other information from Google.

+section("Changes")
  p Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent.
