include ./_mixins/section.jade
include ./_mixins/book-call.jade

section.intro
  header
    h1 Get Out Of The Slow Lane
    h2 With A New Remote Engineering Team

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

  .content
    span.image.fill(data-position="center")
      img(src="images/jacek-dylag-mmar_Xs8_mk-unsplash.jpg")

+section("A full-service subscription to recruit, vet, onboard, and manage remote engineers for your company")#first(style='text-align: center')
  p Prices start at $10k/mo for two engineers.
  //- p
  //-   a.button.primary( href='https://app.moonclerk.com/pay/v4jxsz02psb' target='_blank') Subscribe Now
  p For each engineering role, this will contain:
  
  ul(style='text-align: left')
    li Messaging for job posts
    li Custom coding challenges and evaluation criteria
    li Common responses for candidates
    li Onboarding guides for new engineers and managers
    li Software development workflow
    li Management framework for the specific types of engineers that we hire
  
  p No long-term commitment. Cancel anytime. Devs are yours to keep.

+section("Your dev shop is holding you back.")
  p Sometimes, you're not even sure what the dev team is doing. The smallest fixes take days, and every new feature introduces two new bugs. You can't even remember the last time the PM was able to answer a simple question without having to "get back to you on that." Worse, if you switch to another agency, you're pretty sure that they would want to start from scratch (and put you right back where you are now). It's time to build your own in-house engineering team, but you're unsure how to find, vet, and manage quality dev talent. We have three tiers to make sure you do it correctly.

+section("Phase 1: Comprehensive Engineering Framework")
  p We will provide a custom engineering framework that we’ll use to grow and run a team that will be able to accomplish your goals in the near term and the future. For each engineering role, this will contain messaging for job posts; custom coding challenges and evaluation criteria; common responses for candidates; onboarding guides for new engineers and managers; software development workflow; and a management framework for the specific types of engineers that we hire.

  p For each engineering role, discovery involves 1-3 meetings and is typically two or three weeks in duration (depending on scheduling and your availability).

  p Benefits:

  ul
    li #[strong Strong Foundation]: The peace of mind that comes from knowing that you are using a proven system for finding and onboarding engineers who can demonstrably knock out the milestones on your product roadmap.
    li #[strong Complete Autonomy]: Your team will have the ability to efficiently scale your engineering organization at will.

+section("Phase 2: Framework, Recruiting, and Vetting ")
  p After phase 1, we will handle the recruiting and vetting process for you. We will take care of all job posting, candidate interviews, custom coding challenges, and evaluation. We’ll run the hiring funnel and only submit engineers who prove they have the skills and temperament to execute the product roadmap.
  
  p This phase will continue until we reach the target headcount for each role. Expect to have your first engineer ready four weeks after the engagement begins and to have new engineers arrive every two to four weeks afterwards until target headcount is reached.
  
  p Benefits:

  ul
    li #[strong High Bar for Talent]: We’ll administer custom coding challenges and evaluate candidate results to make sure that all passing engineers can meet or exceed the skill requirements of the product roadmap.
    li #[strong Focus on Building]: You’ll be able to concentrate on building your product---not wrangling job posts, applications, and evaluating candidate submissions.


+section(" Phase 3: Framework, Recruiting, Vetting, Onboarding, and Management ")
  p After we hire engineers in phase 2, and we will onboard and manage all engineers. In this phase we directly ensure that all recruited engineers quickly get up to speed and regularly ship production code.
  
  p We will onboard each engineer and make sure that they follow all coding guidelines, work within our workflow process, and are proactive in collaborating with product leadership. We will hold weekly check-ins with each engineer, make sure that they are communicating steady progress in daily standups, and we’ll run the weekly group meeting.
  
  p Once things are running at full-speed, at any point we can transition management to your team and make sure that the engineering department will continue to regularly ship product deliverables. 

  p All engineering management takes place via public or semi-private written communication that can be seamlessly transferred to a new manager of your choosing.
  
  p Benefits:

  ul
    li #[strong Full-Service]: This phase handles the complete operation of your engineering department. We ensure that everything is set up and running smoothly before handing things over to you.
    li #[strong Hands-On Training]: We work directly with your team to make sure you can hire, vet, onboard, and manage engineers now and into the future.

+section("Notes, Risks, and Assumptions")

  ul
    li We hire a minimum of two engineers for each role. This is necessary for cross-code review and protecting against loss of institutional knowledge.

    li Good candidates may not be available at this time. If this turns out to be the case, we will either refund your money or keep trying---whichever you prefer.

    li We may temporarily hire more engineers and slim down to our target headcount.

    li If an engineer quits or is fired while we are managing them, we will replace them.

    li Some managers resist the idea of managing remote teams according to the framework. Managers should be open to the idea of following the process to get best results from engineers.

+section("About Superstruct")
  p Superstruct has developed a repeatable system for finding, recruiting, vetting, onboarding, and managing talented software engineers. This system integrates over 10 years of software engineering management experience with deep technical knowledge to help companies clear milestones faster, cheaper, and with less risk.

  p David has led teams of engineers to ship projects like ultra-high-scale ad servers handling over 10 billion requests per day, online learning systems, white-label performance marketing SAAS platforms, and Project Matterhorn, the system that would eventually become Disney.com.

  p This management experience rests on both a deep technical foundation and long experience training developers at all levels.  David is the author of two popular JavaScript books---Fullstack React and Fullstack Node.js---and many widely-used open-source projects. He has over 90 open-source packages on npm and over 130 repositories on Github. He has likewise given talks at many tech events and conferences like JSConf and JSFest. 

  p David is a leader in the tech community and runs one of the largest JavaScript events in the country: js.la. This event draws world-famous speakers such as Ryan Dahl and Kyle Matthews and rising stars from the LA tech community, and regularly has standing-room only for its hundreds of attendees -- filling up large venues such as Google's main stage in Venice. Additionally, he runs the official Node.js Mentorship Team and the Los Angeles chapter of NodeSchool.

+section("What people say about us")

  blockquote
    p "Superstruct is the best. Everyone is impressed. Internal software development doesn’t seem like a good move when you can just hire Superstruct.”
    p - Rob Maigret, Co-founder of Titan Space Technologies

  blockquote
    p "At the board meeting I went over the progress on the engineering side. We closed hundreds of bugs and tickets — literally hundreds. They were blown away."
    p - Aaron Rasmussen, Founder and CEO of Outlier

  blockquote
    p “David’s help was a game changer for me. I spent months floundering to find a developer for my team. (I had, I realize now, a sub-par, ad-hoc hiring “strategy”.) But after I started working with David, I had hired a developer within the first week - and even better, I had a tested, reusable strategy for hiring quality engineers. Thanks, David!”
    p — Nate Murray, Founder of Newline.co

+section("Get Started")(style='text-align: center')
  p Prices start at $10k/mo for two engineers.
  //- p
  //-   a.button.primary( href='https://app.moonclerk.com/pay/v4jxsz02psb' target='_blank') Subscribe Now

  p No long-term commitment. Cancel anytime. Devs are yours to keep.

  p Have questions before you're ready to subscribe? Shoot me an email: 
    a(href='mailto:david@superstruct.tech') david@superstruct.tech
