include ./_mixins/section.jade

section.intro
  header
    h1 Terms of Service

    ul.actions
      li
        a.arrow.scrolly(href="#first")
          span.label Next

+section("Conditions")#first
  p By using our engineering management platform, you are agreeing to these terms. Please read them carefully.

  p You must follow any policies made available to you within the service. Do not misuse our service. For example, do not interfere with our service or try to access it using a method other than the interface and the instructions that we provide.

+section("Your Content in our Service")
  p Our service allows you to submit content related to engineering management. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.

+section("Modifying and Terminating our Service")
  p We are constantly changing and improving our engineering management platform. We may add or remove functionalities or features, and we may suspend or stop a service altogether.

+section("Our Warranties and Disclaimers")
  p We provide our engineering management platform using a commercially reasonable level of skill and care and we hope that you will enjoy using it. But there are certain things that we do not promise about our services.

+section("Liability for our Services")
  p When permitted by law, our service will not be responsible for lost profits, revenues, or data, financial losses or indirect, special, consequential, exemplary, or punitive damages.

+section("About these Terms")
  p We may modify these terms or any additional terms that apply to a service to, for example, reflect changes to the law or changes to our services. You should review the terms regularly.
