<!DOCTYPE HTML>
<!--
  Paradigm Shift by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Software Estimates | Superstruct</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/assets/sass/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta property="og:title" content="Software Estimates | Superstruct">
    <meta property="og:description" content="Software estimates are notoriously difficult. Devs hate giving them. They're rarely correct. Many organizations abandon them entirely. Are they worth the trouble?">
    <meta property="og:image" content="https://superstruct.tech/images/estimates.png">
    <meta property="og:url" content="https://superstruct.tech/blog/estimates">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@davidguttman">
    <meta name="twitter:creator" content="@davidguttman">
    <meta name="twitter:title" content="Software Estimates | Superstruct">
    <meta name="twitter:description" content="Software estimates are notoriously difficult. Devs hate giving them. They're rarely correct. Many organizations abandon them entirely. Are they worth the trouble?">
    <meta name="twitter:image" content="https://superstruct.tech/images/estimates.png">
  </head>

  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <section class="intro">
        <header>
          <h1>Software Estimates</h1>

          <ul class="actions">
            <li>
              <a class="arrow scrolly" href="#first">
                <span class="label">Next</span>
              </a>
            </li>
          </ul>
        </header>
        <div class="content">
          <span class="image fill" data-position="center">
            <img
              src="/images/estimates.png">
          </span>
        </div>
      </section>
      <section>
        <header>
          <h2>We Will Not Let Devs Start without an Estimate</h2>
        </header>
        <div class="content">
          <%- yield %>
        </div>
      </section>
      <%- partial("../_partials/shared/footer") %>
    </div>

    <%- partial("../_partials/shared/scripts") %>
  </body>

</html>